* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #2e2e4d;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  position: relative;
}

.image-card h4 {
  color: #00f0ff;
}

.image-card p {
  font-size: 13px;
  color: #ccc;
  margin: 12px 0 20px;
}

#image {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #00f0ff;
}

.buttons {
  display: flex;
  margin: 15px 0;
  justify-content: space-around;
}

.btn {
  padding: 7px 18px;
  border-radius: 20px;
  border: none;
  background-color: #00f0ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #00f0ff;
  background-color: #2e2e4d;
  border: 2px solid #00f0ff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn.outline {
  background-color: transparent;
  color: #00f0ff;
  border: 2px solid #00f0ff;
}

.btn.outline:hover {
  background-color: #00f0ff;
  color: #000;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.hobbies {
  margin-top: 20px;
  text-align: center;
}

.hobbies ul {
  padding-bottom: 15px;
  margin-top: 10px;
  list-style-type: none;
}

.hobbies li {
  margin: 5px 0;
  color: #ccc;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.hobbies ul li:hover {
  color: #00f0ff;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  list-style: none;
  margin-top: 10px;
  padding-top: 4px;
}

.skills li {
  padding: 6px 12px;
  background-color: #3c3c5a;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #fff;
}

.contact {
  padding-block: 15px;
}

.contact h2 {
  padding-block: 5px;
}

.contact p {
  display: block;
  margin: 4px 0;
}

.contact a[href] {
  color: #00f0ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact a[href]:hover {
  color: #00a2ff;
}